<div class="container" style="padding:50px 50px 0 50px;">
    <div class="row pad-bot-5">
        <div class="col-sm-4">
            <a ui-sref="app.home">
                <div class="col-sm-12 card">
                    <img data-ng-src="images/med_icons/user-group.png" width="80" height="55" />
                    <div class="name">Find / Create Patient</div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/calender.png" width="60" height="60" />
                <div class="name">Appointments</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/microscope-01.png" width="60" height="74" />
                <div class="name">Laboratory</div>
            </div>
        </div>
    </div>
    <div class="row pad-bot-5">
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/medicines-01.png" width="60" height="62" />
                <div class="name">Pharmacy</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/imaging.png" width="60" height="44" />
                <div class="name">Imaging</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/in-patient.png" width="65" height="57" />
                <div class="name">In-Patient care</div>
            </div>
        </div>
    </div>
    <div class="row pad-bot-5">
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/telephone-directory.png" width="60" height="75" />
                <div class="name">Medical Staff Directory</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/seo-report-01.png" width="60" height="70" />
                <div class="name">Reports</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 card">
                <img data-ng-src="images/med_icons/dollar.png" width="70" height="40" />
                <div class="name">Billings & Accounts</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="background:rgba(241,243,244,1); padding:10px;">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel-top">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:rgba(99,142,187,1);"></i>
                      <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    AWaiting Doctors
                </div>
                <div class="panel-bottom" style="background:rgba(52,152,194,1);">AWaiting Doctors</div>
            </div>
            <div class="col-sm-3">
                <div class="panel-top">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:rgba(210,106,95,1);"></i>
                      <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    AWaiting Doctors
                </div>
                <div class="panel-bottom" style="background:rgba(101,190,206,1);">AWaiting Doctors</div>
            </div>
            <div class="col-sm-3">
                <div class="panel-top">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:rgba(109,186,134,1);"></i>
                      <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    AWaiting Doctors
                </div>
                <div class="panel-bottom" style="background:rgba(63,184,203,1);">AWaiting Doctors</div>
            </div>
            <div class="col-sm-3">
                <div class="panel-top">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color:rgba(123,79,140,1);"></i>
                      <i class="fa fa-microphone fa-stack-1x fa-inverse"></i>
                    </span>
                    AWaiting Doctors
                </div>
                <div class="panel-bottom" style="background:rgba(99,142,187,1);">AWaiting Doctors</div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row pad-bot-5">-->
<!--<div ng-repeat="menu in $root.globals.currentUser.others.pages">{{menu.name}}</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6">
                TODO page
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>