<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo-sidebar.png" height="30" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>
<!-- main navigation -->

<nav role="navigation">
  <ul class="nav">
    <li ng-repeat="menu in app.pages" ng-init="$root.show(menu.roles, menu.authview_id)" ng-if="menu.viewpath != 'javascript:;'" ng-hide="!$root.container[menu.authview_id]" ng-include="'menuTree'" ui-sref-active="active" side-navigation=""></li>
    <li ng-repeat="menu in app.pages" ng-init="$root.show(menu.roles, menu.authview_id)" ng-if="menu.viewpath == 'javascript:;'" ng-hide="!$root.container[menu.authview_id]" ng-include="'menuTree'" class="menu-accordion" data-ng-class="{open: $state.includes({{ '\'' + menu.parentViewPath + '\''}})}" side-navigation=""></li>
  </ul>
</nav>

<script type="text/ng-template" id="menuTree">
  <a ui-sref="{{ menu.viewpath }}" class="side-bar-nav">
    <i class="{{menu.css_class}}" data-ng-if="menu.css_class"></i>
    <span>{{ menu.name }}</span>
  </a>
  <ul ng-if="menu.children.length>0" class="sub-menu">
    <li ng-repeat="menu in menu.children" ng-init="$root.show(menu.roles, menu.authview_id)" ng-if="menu.viewpath != 'javascript:;'" ng-hide="!$root.container[menu.authview_id]" ng-include="'menuTree'" ui-sref-active="active" side-navigation=""></li>
    <li ng-repeat="menu in menu.children" ng-init="$root.show(menu.roles, menu.authview_id)" ng-if="menu.viewpath == 'javascript:;'" ng-hide="!$root.container[menu.authview_id]" ng-include="'menuTree'" class="menu-accordion" data-ng-class="{open: $state.includes({{ '\'' + menu.parentViewPath + '\''}})}" side-navigation=""></li>
  </ul>
</script>
<!-- /main navigation -->
