<div class="brand">

  <!-- logo -->
  <div class="brand-logo">
    <img data-ng-src="images/logo-sidebar.png" height="30" alt="">
  </div>
  <!-- /logo -->

  <!-- toggle small sidebar menu -->
  <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- /toggle small sidebar menu -->

</div>
{{app.show('SUPPORT_ADMIN','dashboard')}}
{{app.show('RFQ_OFFICER,RFQ_SUPERVISOR,RFQ_ADMIN,SUPPORT_ADMIN','quote')}}
{{app.show('SUPPORT_ADMIN','procurement')}}
{{app.show('SUPPORT_ADMIN','setup')}}
{{app.show('SUPPORT_ADMIN','test')}}
<!-- main navigation -->
<nav role="navigation" side-navigation>
  <ul class="nav">
    <li ui-sref-active="active" ng-if="app.container['dashboard']">
      <a  ui-sref="app.home">
        <i class="fa fa-tachometer"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-if="app.container['quote']">
      <a  ui-sref="app.quotes.clients">
        <i class="fa fa-files-o"></i>
        <span>Quotes</span>
      </a>
    </li>
    <li ui-sref-active="active" ng-if="app.container['procurement']">
      <a  ui-sref="app.procurement">
        <i class="fa fa-cart-plus"></i>
        <span>Procurement</span>
      </a>
    </li>
    <li data-ng-class="{open: $state.includes('app.setup')}" ng-if="app.container['setup']">
      <a href="javascript:;">
        <i class="fa fa-cogs"></i>
        <span>Setup</span>
      </a>
      <ul class="sub-menu">
        <li ui-sref-active="active" ng-if="app.container['test']">
          <a ui-sref="app.setup.test">
            <span>Tests</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- /main navigation -->
