<div class="modal-header">
    <h3 class="modal-title">Add new quote Item</h3>
    <div class="modal-body">
        <form name="PartyDetail" class="tab-form" role="form">
            <div class="form-group">
                <label for="materialDescription">Material Description:</label>
                <textarea id="materialDescription" class="form-control" ng-model="quotItmCtrl.matdesc"></textarea>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" ng-model="quotItmCtrl.qty" class="form-control"/>
            </div>
            <div class="form-group">
                <!--https://github.com/angular-ui/ui-select-->
                <label>Manufacturer: (Cannot find Manufacturer? <button class="btn btn-primary btn-xs" ng-click="quotItmCtrl.showNewManu = !quotItmCtrl.showNewManu">{{(quotItmCtrl.showNewManu==true?'Add new':'Close')}}</button> )</label>
                <div ng-hide="quotItmCtrl.showNewManu">
                    <input type="text" placeholder="Enter manufacturer name" ng-model="quotItmCtrl.newManu" style="width:50%;"/>
                    <i class="fa fa-check fa-2x text-success cursor-pointer" data-ng-click="quotItmCtrl.addNewManu()" ng-if="!quotItmCtrl.insertingManu" ></i>
                    <img ng-if="quotItmCtrl.insertingManu" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    <span ng-if="quotItmCtrl.insertingManu">Adding! Please wait...</span>
                    <span ng-if="quotItmCtrl.errorMsg" class="text-info">Please enter a valid manufacturer name</span>
                    <i class="fa fa-times fa-2x text-danger cursor-pointer" data-ng-click="quotItmCtrl.showNewManu = !quotItmCtrl.showNewManu"></i>
                </div>
                <ui-select multiple ng-model="quotItmCtrl.selectedManufacturers" theme="bootstrap" ng-disabled="quotItmCtrl.disabled" sortable="true" close-on-select="true">
                    <ui-select-match placeholder="Start typing a name to search for manufacturer...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="manufacturer in quotItmCtrl.manufacturers | propsFilter: {name: $select.search}">
                        <div ng-bind-html="manufacturer.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div data-ng-if="quotItmCtrl.data.edit">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>UOM:</label>
                            <!--<input type="text" id="uom" ng-model="quotItmCtrl.unitofmeasure" class="form-control"/>-->

                            <ui-select ng-model="quotItmCtrl.unitofmeasure" theme="bootstrap" close-on-select="true"
                                       data-ng-click="quotItmCtrl.getLOVs('unitofmeasure','unitofmeasures', {'response':'unitofmeasure_id&name','placeholder':'UOMPlaceholder'})">
                                <ui-select-match placeholder="{{quotItmCtrl.container['UOMPlaceholder'] || 'Select or search a person in the list...'}}">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item in quotItmCtrl.container['unitofmeasures'] | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="unitPrice">Unit Price:</label>
                            <input type="number" id="unitPrice" ng-model="quotItmCtrl.unitprice" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="crossRate">Cross Rate:</label>
                            <input type="number" id="crossRate" ng-model="quotItmCtrl.crossrrate" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="certOfOrigin">Cert. Of Origin:</label>
                            <input type="text" id="certOfOrigin" ng-model="quotItmCtrl.certOfOrigin" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="weight">Weight:</label>
                            <input type="text" id="weight" ng-model="quotItmCtrl.weight" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="g_f">G/F:</label>
                            <input type="number" id="g_f" ng-model="quotItmCtrl.g_f" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="packaging">Packaging:</label>
                            <input type="number" id="packaging" ng-model="quotItmCtrl.packaging" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nafdac_soncap">NAFDAC/SONCAP:</label>
                            <input type="number" id="nafdac_soncap" ng-model="quotItmCtrl.nafdac_soncap" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="clearing">Clearing:</label>
                            <input type="number" id="clearing" ng-model="quotItmCtrl.clearing" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="lt_onne">LT/ONNE:</label>
                            <input type="number" id="lt_onne" ng-model="quotItmCtrl.lt_onne" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="f_r">F/R:</label>
                            <input type="number" id="f_r" ng-model="quotItmCtrl.f_r" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="nlcf">NLCF@1%:</label>
                            <input type="number" id="nlcf" ng-model="quotItmCtrl.nlcf" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-offset-4">
                <button type="submit" class="btn btn-primary" ng-click="quotItmCtrl.addLineItems()">Save</button>
                <img ng-if="quotItmCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="PartyCtrl.ok()">OK</button>-->
        <button class="btn btn-warning" type="button" ng-click="PartyCtrl.cancel()">Close window</button>
    </div>
</div>