<div class="row wrapper">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form name="form" ng-submit="login()" role="form">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" id="subject" ng-model="quotCtrl.subject" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="quoteDirection">Direction</label>
            <input type="text" id="quoteDirection" ng-model="quotCtrl.quoteDirection" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" id="amount" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="currency">Currency</label>
            <input type="text" id="currency" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="bidPrice">Bid Price</label>
            <input type="text" id="bidPrice" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="product">Product</label>
            <input type="number" id="product" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="notes">Other Notes</label>
            <textarea id="notes" class="form-control" ng-model="myTextarea"></textarea>
        </div>
        <div class="form-group">
            <label for="notes">Attachments <small><small>(ctrl+click to select multiple files)</small></small></label>
            <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />
        </div>
        <div class="form-actions text-center">
            <button ng-click="quotCtrl.uploadFile()" style="width:20%;" ng-disabled="form.$invalid || quotCtrl.dataLoading" class="btn btn-primary input-lg">Submit</button>
            <img ng-if="quotCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        </div>
    </form>
</div>