<div class="row wrapper">
    <div ng-show="quotCtrl.error" class="alert alert-{{quotCtrl.errClass}}">{{quotCtrl.error}}</div>
    <div class="full" ng-if="!quotCtrl.edit">
        <div class="row" style="padding:10px;">
            <div class="pull-right"><button type="button" class="btn btn-primary" data-ng-click="quotCtrl.editQuote()">+ Add new</button></div>
        </div>
        <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                on-page-change="quotCtrl.getData(newPageNumber)" >
        </dir-pagination-controls>
        <table class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>Client</th>
                <th>Request No</th>
                <th>Status</th>
                <th>Total Line Items</th>
                <th>Entered By</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="quotCtrl.quotes.length <= 0"><td colspan="6" style="text-align:center;">{{ quotCtrl.quotesLoading || 'Loading new data!!' }}</td></tr>
            <tr dir-paginate="quote in quotCtrl.quotes|itemsPerPage:quotCtrl.itemsPerPage" total-items="quotCtrl.total_count">
                <td>{{quote.name}}</td>
                <td>{{quote.rfq_no}}</td>
                <td>{{quote.status}}</td>
                <td>{{quote.totalQuotes}}</td>
                <td>{{quote.enteredBy}}</td>
                <td class="text-center">
                    <div class="row">
                        <button  type="button" class="btn btn-primary" ng-click="quotCtrl.editQuote(quote.quote_id)"><i class="fa fa-pencil"></i> Edit</button>
                        <button  type="button" class="btn btn-danger" ng-click="quotCtrl.deleteQuote()"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="drillDown" ng-if="quotCtrl.edit">
        <div class="row" style="padding:20px;">
            <button type="button" class="btn btn-default" data-ng-click="quotCtrl.goBack()"><i class="fa fa-arrow-left"></i> Back</button>
            <div class="pull-right"><button type="button" class="btn btn-primary" data-ng-click="quotCtrl.editQuote()">+ Add new</button></div>
        </div>
        <form name="form" ng-submit="login()" role="form">
            <p>All fileds marked  <span class="text-danger">*</span> are required</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="rfq_no">Request No <span ng-show="!quotCtrl.quote.rfq_no" class="text-danger">*</span></label>
                        <input type="text" id="rfq_no" data-ng-model="quotCtrl.quote.rfq_no" placeholder="Subject or Request number of quote" class="form-control" data-ng-disabled="false" ng-required="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="PartyId">Client <span data-ng-show="!quotCtrl.quote.party_party_id" class="text-danger">*</span></label>
                        <select id="PartyId" class="form-control"
                                data-ng-click="quotCtrl.getLOVs('Party','parties', {'response':'party_id&name', 'and':[{
                                                                                    'propertyName': 'party_partytype_id',
                                                                                    'propertyValue': 201607131,
                                                                                    'propertyDataType': 'BIGINT',
                                                                                    'operatorType': '='
                                                                                }]})"
                                data-ng-options="party.party_id as party.name for party in quotCtrl.container['parties']"
                                data-ng-model="quotCtrl.quote.party_party_id"
                                data-ng-disabled="quotCtrl.disableClient">
                            <option value="">{{quotCtrl.quote.party_party_id || "--Select Company name --"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eventOwner">Name of Event Owner</label>
                        <input type="text" id="eventOwner" data-ng-model="quotCtrl.quote.eventowner" placeholder="--Select Name of Event Owner --" class="form-control" data-ng-disabled="false" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="publishDate">Publish Date <span ng-show="!quotCtrl.quote.publishdate" class="text-danger">*</span></label>
                        <p class="input-group">
                            <input type="text" id="publishDate" class="form-control"
                                   uib-datepicker-popup="dd-MMM-yyyy" ng-model="quotCtrl.quote.publishdate" is-open="quotCtrl.publishdate"
                                   ng-focus="quotCtrl.publishdate=true" placeholder="Publish Date (dd-MMM-YYYY) e.g 08-Aug-2016"
                                   ng-required="true" close-text="&times;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-ng-click="quotCtrl.publishdate = !quotCtrl.publishdate"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="dueDate">Due Date <span ng-show="!quotCtrl.quote.duedate" class="text-danger">*</span></label>
                        <p class="input-group">
                            <input type="text" id="dueDate" class="form-control" ng-model="quotCtrl.quote.duedate"
                                   uib-datepicker-popup="dd-MMM-yyyy" is-open="quotCtrl.dueDate" datepicker-options="{minDate: quotCtrl.quote.publishdate}"
                                   data-ng-focus="quotCtrl.dueDate=true" placeholder="Due Date (dd-MMM-YYYY) e.g 08-Aug-2016"
                                   ng-required="true" close-text="&times;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="quotCtrl.dueDate = !quotCtrl.dueDate"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="currency">Currency  <span ng-show="!quotCtrl.quote.quote_currency_id" class="text-danger">*</span></label>
                        <select id="currency" required
                                class="form-control"
                                data-ng-click="quotCtrl.getLOVs('currency','currencies', {'response':'currency_Id&code'})"
                                data-ng-options="currencies.currency_Id as currencies.code for currencies in quotCtrl.container['currencies']"
                                data-ng-model="quotCtrl.quote.quote_currency_id">
                            <option value="">{{quotCtrl.quote.currency || "--Select Currency --"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userId">Assign to <span data-ng-show="!quotCtrl.quote.users_user_id" class="text-danger">*</span></label>
                        <select id="userId"
                                class="form-control"
                                data-ng-click="quotCtrl.getUsers(20161307)"
                                data-ng-options="user.user_id as user.name for user in quotCtrl.container['users']"
                                data-ng-model="quotCtrl.quote.users_user_id">
                            <option value="">{{quotCtrl.quote.users_user_id || "--Select the in-house person to assign to--"}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="notes">Attachments <small><small>(ctrl+click to select multiple files)</small></small></label>
                <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />
                <div data-ng-if="quotCtrl.files" style="margin-top:10px;">You selected:
                    <ul><li data-ng-repeat="file in quotCtrl.files">{{file.name}}</li></ul>
                </div>
                <div data-ng-if="quotCtrl.quoteFiles" class="well">Files already attached are:
                    <ul><li data-ng-repeat="file in quotCtrl.quoteFiles"><a href="#">{{file.docName}}</a></li></ul>
                </div>
            </div>

            <div class="container">
                <fieldset style="margin-top:25px;">
                    <legend>
                        <i class="fa fa-plus pull-right text-primary"
                           style="cursor: pointer;"
                           ng-click="quotCtrl.open({'modalSize':'lg', 'url':'quoteItems'})"
                           aria-hidden="true">
                        </i>
                        Add Quote Items:
                    </legend>
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr><th>S/N</th><th>Material Description</th><th>Qty</th><th>Manufacturers</th><th>Options</th></tr>
                        </thead>
                        <tbody>
                        <tr ng-if="quotCtrl.lineItems.length <= 0"><td colspan="5" style="text-align:center;">{{ quotCtrl.lineItemsLoading || 'Loading new data!!' }}</td></tr>
                        <tr ng-repeat="lineItem in quotCtrl.lineItems track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{lineItem.matDesc}}</td>
                            <td>{{lineItem.qty}}</td>
                            <td>{{(lineItem.manus.length >1) ? 'Many' : lineItem.manus[0].name }}</td>
                            <td>
                                <i class="fa fa-pencil-square-o fa-2x text-success" ng-click="quotCtrl.open({'modalSize':'lg', 'url':'quoteItems', 'data':{index:$index,item:lineItem}})" aria-hidden="true"></i>
                                <i class="fa fa-minus-circle fa-2x text-danger" ng-click="quotCtrl.deleteLineItem($index,lineItem.id)" aria-hidden="true"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div class="form-group">
                <label for="notes">Other Notes</label>
                <textarea id="notes" class="form-control" ng-model="quotCtrl.quote.specificationandrequirement"></textarea>
            </div>
            <div class="form-actions text-center">
                <button type="button" class="btn btn-default" style="width:10%;" ng-click="quotCtrl.goBack()"><i class="fa fa-arrow-left"></i> Cancel</button>
                <!--<button ng-click="quotCtrl.postData()"  data-ng-disabled="form.$invalid || quotCtrl.dataLoading || quotCtrl.isDisabled" style="width:10%;" class="btn btn-primary">Submit</button>-->
                <button ng-click="quotCtrl.postData()" style="width:10%;" class="btn btn-primary">{{quotCtrl.quote.quote_id?'Update':'Submit'}}</button>
                <img ng-if="quotCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
        </form>
    </div>
</div>