<div ui-view>
    <div class="row wrapper">
    <div ng-show="quotCtrl.error" class="alert alert-{{quotCtrl.errClass}}">{{quotCtrl.error}}</div>
    <div class="full" ng-if="!quotCtrl.edit">
        <div class="row" style="padding:10px;">
            <div class="pull-right"><button type="button" class="btn btn-primary" data-ng-click="quotCtrl.editQuote()">+ Add new</button></div>
        </div>
        <div class="input-group pull-right col-sm-4">
            <!--Filters start here-->
            <div data-search-filters>
                    <fieldset>
                        <legend>Filters</legend>
                        <div id="filters">
                        </div>
                        <div class="buttons-wrapper">
                            <input type="button" class="btn btn-xs btn-primary" id="filter-add" value="Add Filter" />
                            <button  type="button" class="btn btn-xs btn-danger" data-ng-click="quotCtrl.applyFilters()">Apply Filters</button>
                        </div>
                    </fieldset>
                    <!-- hidden templates -->
                    <div class="templates">
                        <div class="template filter-chooser">
                            <button  type="button" class="btn btn-xs btn-danger filter-remover" ><i class="fa fa-trash"></i></button>
                            <select name="filter" class="filter-type">
                                <option value="" data-template-type="" selected="selected">Choose a filter</option>
                                <option value="rfqno" data-template-type="template-rfqno">Request No.</option>
                                <option value="status" data-template-type="template-status">Status</option>
                            </select>
                        </div>
                        <div class="template template-rfqno">
                            <input type="text" data-ng-model="filters.rfqno" />
                        </div>

                        <div class="template template-status">
                            <select data-ng-model="filters.status"
                                    data-ng-click="quotCtrl.getLOVs('QuoteStatus','quoteStatuses', {'response':'quotestatus_id&name','placeholder':{'quotestatus_id':1,'name':'Loading...'}})"
                                    data-ng-options="quoteStatus.quotestatus_id as quoteStatus.name for quoteStatus in quotCtrl.container['quoteStatuses']">
                                <option value="">-- Select Quote Status --</option>
                            </select>
                        </div>
                    </div>
                    <!-- /hidden templates -->
            </div>
            <!-- /Filters -->
        </div>
        <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                on-page-change="quotCtrl.getData(newPageNumber)" >
        </dir-pagination-controls>
        <table class="table table-responsive table-striped table-hover">
            <thead>
            <tr>
                <th>Client</th>
                <th>Request No</th>
                <th>Status</th>
                <th>Total Line Items</th>
                <th>Entered By</th>
                <th>Days Due</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="quotCtrl.quotes.length <= 0"><td colspan="7" style="text-align:center;">{{ quotCtrl.quotesLoading || 'Loading new data!!' }}</td></tr>
            <tr ng-init="dueDisp = quotCtrl.getDueDateDisplay(quote.remDays,quote.status)" dir-paginate="quote in quotCtrl.quotes|itemsPerPage:quotCtrl.itemsPerPage" total-items="quotCtrl.total_count">
                <td>{{quote.name}}</td>
                <td>{{quote.rfq_no}}</td>
                <td>{{quote.status}}</td>
                <td>{{quote.totalQuotes}}</td>
                <td>{{quote.enteredBy}}</td>
                <td>
                    <span ng-class="{'label label-danger blink_me':((quote.remDays==1||quote.remDays==0) && quote.status=='In Progress'),'text-danger':(dueDisp=='Pending TQ clearance'),'text-success':(quote.remDays>1 || quote.status=='Submitted')}">{{dueDisp}}</span>
                </td>
                <td class="text-center">
                    <div class="row">
                        <button type="button" class="btn btn-primary" data-ng-click="quotCtrl.editQuote(quote.quote_id)"><i class="fa fa-pencil"></i> Edit</button>
                        <a ui-sref="app.procurement.clients.status.print({print:quote.quote_id})" data-ng-if="quote.showPrint" class="btn btn-warning" role="button"><i class="fa fa-print"></i> Print RFQ</a>
                        <!--<a class="btn btn-warning"  data-ng-click="quotCtrl.printRFQ(quote.quote_id)"><i class="fa fa-print"></i> Print RFQ</button>-->
                        <button type="button" class="btn btn-danger" data-ng-click="quotCtrl.deleteQuote()"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="drillDown" ng-if="quotCtrl.edit">
        <div class="row" style="padding:20px;">
            <button type="button" class="btn btn-default" data-ng-click="quotCtrl.goBack()"><i class="fa fa-arrow-left"></i> Back</button>
            <div class="pull-right"><button type="button" class="btn btn-primary" data-ng-click="quotCtrl.editQuote()">+ Add new</button></div>
        </div>
        <form name="form" role="form">
            <p>All fileds marked  <span class="text-danger">*</span> are required</p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="rfq_no">Request No <span ng-show="!quotCtrl.quote.rfq_no" class="text-danger">*</span></label>
                        <input type="text" id="rfq_no" data-ng-model="quotCtrl.quote.rfq_no" placeholder="Subject or Request number of quote" class="form-control" data-ng-disabled="false" ng-required="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="PartyId">Client <span data-ng-show="!quotCtrl.quote.party_party_id" class="text-danger">*</span></label>
                        <select id="PartyId" class="form-control"
                                data-ng-click="quotCtrl.getLOVs('Party','parties', {'response':'party_id&name', 'and':[{
                                                                                    'propertyName': 'party_partytype_id',
                                                                                    'propertyValue': 201607131,
                                                                                    'propertyDataType': 'BIGINT',
                                                                                    'operatorType': '='
                                                                                }]})"
                                data-ng-options="party.party_id as party.name for party in quotCtrl.container['parties']"
                                data-ng-model="quotCtrl.quote.party_party_id"
                                data-ng-disabled="quotCtrl.disableClient">
                            <option value="">{{quotCtrl.quote.party_party_id || "--Select Company name --"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eventOwner">Name of Event Owner</label>
                        <input type="text" id="eventOwner" data-ng-model="quotCtrl.quote.eventowner" placeholder="--Select Name of Event Owner --" class="form-control" data-ng-disabled="false" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="publishDate">Publish Date <span ng-show="!quotCtrl.quote.publishdate" class="text-danger">*</span></label>
                        <p class="input-group">
                            <input type="text" id="publishDate" class="form-control" ng-model="quotCtrl.quote.publishdate"
                                   datepicker-popup="mediumDate" is-open="quotCtrl.publishdate" datepicker-options="{minDate: quotCtrl.publishDateMin}"
                                   data-ng-focus="quotCtrl.publishdate=true" placeholder="Publish Date (MMM dd, YYYY) e.g Aug 08, 2016"
                                   ng-required="true" close-text="&times;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-ng-click="quotCtrl.publishdate = !quotCtrl.publishdate"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="dueDate">Due Date <span ng-show="!quotCtrl.quote.duedate" class="text-danger">*</span></label>
                        <p class="input-group">
                            <input type="text" id="dueDate" class="form-control" ng-model="quotCtrl.quote.duedate"
                                   datepicker-popup="mediumDate" is-open="quotCtrl.dueDate" min-date="quotCtrl.quote.publishdate"
                                   data-ng-focus="quotCtrl.dueDate=true" placeholder="Due Date (MMM dd, YYYY) e.g Aug 08, 2016"
                                   ng-required="true" close-text="&times;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="quotCtrl.dueDate = !quotCtrl.dueDate"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="currency">Currency  <span ng-show="!quotCtrl.quote.quote_currency_id" class="text-danger">*</span></label>
                        <select id="currency" required
                                class="form-control"
                                data-ng-click="quotCtrl.getLOVs('Currency','currencies', {'response':'currency_Id&code'})"
                                data-ng-options="currencies.currency_Id as currencies.code for currencies in quotCtrl.container['currencies']"
                                data-ng-model="quotCtrl.quote.quote_currency_id">
                            <option value="">{{quotCtrl.quote.quote_currency_id || "--Select Currency --"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userId">Assign to <span data-ng-show="!quotCtrl.quote.users_user_id" class="text-danger">*</span></label>
                        <select id="userId"
                                class="form-control"
                                data-ng-click="quotCtrl.getUsers(20161307)"
                                data-ng-options="user.user_id as user.name for user in quotCtrl.container['users']"
                                data-ng-model="quotCtrl.quote.users_user_id">
                            <option value="">{{quotCtrl.quote.users_user_id || "--Select the in-house person to assign to--"}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="quotCtrl.quote.quote_id">
                <div class="col-sm-6">
                    <!--<p class="switch">-->
                        <!--<input id="submitted" type="checkbox" data-ng-disabled="quotCtrl.submittedDisabled" data-ng-click="quotCtrl.checkTheBox($event)" data-ng-model="quotCtrl.submittedChecked" />-->
                        <!--<label for="submitted" class="slider round">Turn on if RFQ is submitted<br>-->
                            <!--&lt;!&ndash;<em style="font-size:smaller;">Once submitted, it cannot be undone</em>&ndash;&gt;-->
                        <!--</label>-->
                    <!--</p>-->
                    <!--<p class="switch">-->
                        <!--<input id="TQ" type="checkbox" data-ng-model="quotCtrl.tqChecked" />-->
                        <!--<label for="TQ" class="slider round">Turn on if there's a TQ</label>-->
                    <!--</p>-->
                    <div class="col-sm-3">
                        <span class="text-right" style="display: inline-block">Turn on if RFQ is submitted</span>
                        <label class="switch switch-sm pull-right">
                            <input type="checkbox" data-ng-disabled="quotCtrl.submittedDisabled" data-ng-model="quotCtrl.submittedChecked" data-ng-click="quotCtrl.checkSubmitted($event)">
                            <span><i class="handle"></i></span>
                        </label>
                    </div>
                    <div class="col-sm-3">
                        <span>Turn on if there's a TQ</span>
                        <label class="switch switch-sm pull-right">
                            <input type="checkbox" data-ng-model="quotCtrl.tqChecked">
                            <span><i class="handle"></i></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="notes">Other Notes</label>
                        <textarea id="notes" class="form-control" ng-model="quotCtrl.quote.specificationandrequirement"></textarea>
                    </div>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<label for="notes">Attachments <small><small>(ctrl+click to select multiple files)</small></small></label>-->
                <!--<input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />-->
                <!--<div data-ng-if="quotCtrl.files" style="margin-top:10px;">You selected:-->
                    <!--<ul><li data-ng-repeat="file in quotCtrl.files">{{file.name}}</li></ul>-->
                <!--</div>-->
                <!--<div data-ng-if="quotCtrl.quoteFiles" class="well">Files already attached are:-->
                    <!--<ul><li data-ng-repeat="file in quotCtrl.quoteFiles"><a href="#">{{file.docName}}</a></li></ul>-->
                <!--</div>-->
            <!--</div>-->


                <div class="col-sm-10 col-sm-offset-1">
                    <fieldset style="margin-top:25px;">
                        <legend>Attach files <button class="btn btn-danger" ng-click="quotCtrl.addNewFile()">Attach new file</button></legend>
                        <div class="row" ng-repeat="upload in quotCtrl.uploads">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn"><button class="btn btn-danger" type="button" data-ng-click="quotCtrl.uploads.splice($index, 1);"><i class="fa fa-trash-o "></i></button></span>
                                        <ui-select ng-model="upload.documentType" theme="bootstrap" close-on-select="true"
                                                   data-ng-click="quotCtrl.getLOVs('DocumentTypes','documentTypes', {'response':'documentType_id&documentType','placeholder':'filePlaceholder'})">
                                            <ui-select-match placeholder="{{'Select File type...'}}">{{$select.selected.documentType}}</ui-select-match>
                                            <ui-select-choices repeat="item in quotCtrl.container['documentTypes'] | filter: $select.search">
                                                <div ng-bind-html="item.documentType | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="form-group">
                                    <input type="file" file-model="upload.myFile"/>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="quotCtrl.quoteFiles" class="well">Files already attached are:
                            <ul><li data-ng-repeat="file in quotCtrl.quoteFiles">
                                    <a href="" data-ng-click="quotCtrl.downFile(file)">{{file.docName}}</a>
                                    <span class="fa-stack fa-lg" style="cursor:pointer;" data-ng-click="quotCtrl.deleteFile(file)" title="Delete file">
                                      <i class="fa fa-trash-o fa-stack-1x"></i>
                                      <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                    </span>
                                </li></ul>
                        </div>
                    </fieldset>
                </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="overflow-x: auto;">
                    <fieldset style="margin-top:25px;">
                        <legend>
                            <i class="fa fa-plus text-primary" aria-hidden="true" style="cursor: pointer;"
                               ng-click="quotCtrl.open({'modalSize':'lg', 'url':'quoteItems', 'data':{'edit':(quotCtrl.quote.quote_id)?true:false}})">
                            </i>
                            Add Quote Items by clicking on the + icon:
                        </legend>
                        <span>
                            Import from CSV/XLS/XLSX <input class="btn btn-primary" type="file" style="display:inline-block" import-from-excel=""/>
                            <span data-ng-if="quotCtrl.lineItems.length > 0">You can also <a class="btn btn-primary" ng-click="quotCtrl.export(quotCtrl.quote.quote_id)">Export to Excel</a></span>
                        </span>

                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Options</th><th>S/N</th>
                                    <th data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">Submit</th>
                                    <th data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">TQ</th>
                                    <th>Part No./Model</th>
                                    <th>Material Description</th><th>OEM Description</th><th>Qty</th><th>Manufacturers</th>
                                    <th data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">UOM</th>
                                    <th data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">OEM Unit Price</th>
                                    <th data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">Unit Price</th>
                                    <th data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">Extended Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="quotCtrl.lineItems.length <= 0"><td colspan="{{quotCtrl.quote.quote_id?9:7}}" style="text-align:center;">{{ quotCtrl.lineItemsLoading || 'Loading new data!!' }}</td></tr>
                                <tr ng-repeat="lineItem in quotCtrl.lineItems track by $index">
                                    <td>
                                        <i class="fa fa-pencil-square-o fa-2x text-success" style="cursor: pointer;" ng-click="quotCtrl.open({'modalSize':'lg', 'url':'quoteItems', 'data':{index:$index,item:lineItem, 'edit':(quotCtrl.quote.quote_id)?true:false}})" aria-hidden="true"></i>
                                        <i class="fa fa-minus-circle fa-2x text-danger" style="cursor: pointer;" ng-click="quotCtrl.deleteLineItem($index,lineItem.id)" aria-hidden="true"></i>
                                    </td>
                                    <td>{{$index+1}}</td>
                                    <td data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)"><label class="switch switch-sm"><input type="checkbox" data-ng-model="lineItem.submitted" data-ng-click="quotCtrl.checkTheBox($event)"><span><i class="handle"></i></span></label></td>
                                    <td data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)"><label class="switch switch-sm"><input type="checkbox" data-ng-model="lineItem.tq"><span><i class="handle"></i></span></label></td>
                                    <td>{{lineItem.partno_modelno}}</td> <!-- UOM -->
                                    <td>{{lineItem.matDesc}}</td>
                                    <td>{{lineItem.oem_description}}</td>
                                    <td>{{lineItem.qty*1 | number:0}}</td>
                                    <td>{{(lineItem.manus.length >1) ? 'Many' : lineItem.manus[0].name }}</td>
                                    <td data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">{{lineItem.unitofmeasure.name}}</td> <!-- UOM -->
                                    <td data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">{{lineItem.oem_unitprice*1 | number:2}}</td> <!--OEM Unit Price -->
                                    <td data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">{{lineItem.unitprice*1 | number:2}}</td> <!-- Unit Price -->
                                    <td data-ng-if="quotCtrl.supervisor(quotCtrl.quote.quote_id)">{{lineItem.unitprice*lineItem.qty | number:2}}</td> <!-- Extended Price -->
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="form-actions text-center">
                <button type="button" class="btn btn-default" style="width:10%;" ng-click="quotCtrl.goBack()"><i class="fa fa-arrow-left"></i> Cancel</button>
                <button ng-click="quotCtrl.postData()"  data-ng-disabled="form.$invalid || quotCtrl.dataLoading || quotCtrl.isDisabled" style="width:10%;" class="btn btn-primary">{{quotCtrl.quote.quote_id?'Update':'Submit'}}</button>
                <!--<button ng-click="quotCtrl.postData()" style="width:10%;" class="btn btn-primary">{{quotCtrl.quote.quote_id?'Update':'Submit'}}</button>-->
                <img ng-if="quotCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
        </form>
    </div>
    </div>
</div>