<div class="modal-header">
    <h3 class="modal-title"><div class="pull-right"><button type="button" class="btn btn-default" ng-click="PartyCtrl.editParty()">+ Add new</button></div>Party!</h3>
    <div class="modal-body">
        <div class="row alert" ng-class="{'alert-success': (PartyCtrl.result=='Success'), 'alert-danger': (PartyCtrl.result=='Failure')}" ng-if="PartyCtrl.result">{{PartyCtrl.message}}</div>
        <div class="full" ng-if="!PartyCtrl.edit">
            <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true"
                    on-page-change="PartyCtrl.getData(newPageNumber)" >
            </dir-pagination-controls>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="PartyCtrl.parties.data <= 0"><td colspan="6" style="text-align:center;">Loading new data!!</td></tr>
                    <tr dir-paginate="party in PartyCtrl.parties.data|itemsPerPage:PartyCtrl.itemsPerPage" total-items="PartyCtrl.total_count">
                        <td>{{party.name}}</td>
                        <td>{{party.addressline1}} {{party.addressline2}} {{party.addresscity}}</td>
                        <td class="text-center">
                            <div class="row">
                                <button  type="button" class="btn btn-primary" ng-click="PartyCtrl.editParty(party.party_id)"><i class="fa fa-pencil"></i> Edit</button>
                                <button  type="button" class="btn btn-danger" ng-click="PartyCtrl.deleteParty()"><i class="fa fa-trash"></i> Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="drillDown" ng-if="PartyCtrl.edit">
            <form name="PartyDetail" class="tab-form" role="form">
                <uib-tabset active="activeForm">
                    <uib-tab index="0" heading="General">
                        <ng-form name="GeneralTab">
                            <div class="form-group">
                                <label for="partyType">Type:</label>
                                <select id="partyType" class="form-control"
                                        data-ng-click="PartyCtrl.getLOVs('PartyType','partytypes', {'response':'partytype_id&name'})"
                                        data-ng-options="partytype.partytype_id as partytype.name for partytype in PartyCtrl.container['partytypes']"
                                        data-ng-model="PartyCtrl.party.party_partytype_id">
                                    <option value="">{{PartyCtrl.party.partytypename || "-- Select Party --"}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="partyName">Party Name:</label>
                                <input type="text" class="form-control" id="partyName" ng-model="PartyCtrl.party.name">
                            </div>
                            <div class="form-group">
                                <label for="addressline1">Address Line 1:</label>
                                <input type="text" class="form-control" id="addressline1" ng-model="PartyCtrl.party.addressline1">
                            </div>
                            <div class="form-group">
                                <label for="addressline2">Address Line 2:</label>
                                <input type="text" class="form-control" id="addressline2" ng-model="PartyCtrl.party.addressline2">
                            </div>
                            <div class="form-group">
                                <label for="emailAddress">Email Address:</label>
                                <input type="text" class="form-control" id="emailAddress" ng-model="PartyCtrl.party.addresscity">
                            </div>
                            <div class="form-group">
                                <label for="country">Country:</label>
                                <select id="country"
                                        class="form-control"
                                        data-ng-click="PartyCtrl.getLOVs('Country','countries', {'response':'country_id&name'})"
                                        data-ng-change="PartyCtrl.getCountryStates(PartyCtrl.party.party_country_id)"
                                        data-ng-options="country.country_id as country.name for country in PartyCtrl.container['countries']"
                                        data-ng-model="PartyCtrl.party.party_country_id">
                                    <option value="">{{PartyCtrl.party.countryName || "-- Select Country --"}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="states">State:</label>
                                <select id="states"
                                        class="form-control"
                                        ng-options="state.state_id as state.name for state in PartyCtrl.states"
                                        ng-model="PartyCtrl.party.state_id">
                                    <option value="">--Select State --</option>
                                </select>
                            </div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="1" heading="Contact Person">
                        <ng-form name="ContactPersonTab">
                            <div class="form-group">
                                <label for="ContactPersonTitle">Title:</label>
                                <input type="text" class="form-control" id="ContactPersonTitle" ng-model="PartyCtrl.party.contactpersontitle">
                            </div>
                            <div class="form-group">
                                <label for="ContactLastname">Last Name:</label>
                                <input type="text" class="form-control" id="ContactLastname" ng-model="PartyCtrl.party.contactlastname">
                            </div>
                            <div class="form-group">
                                <label for="ContactFirstname">First Name:</label>
                                <input type="text" class="form-control" id="ContactFirstname" ng-model="PartyCtrl.party.contactfirstname">
                            </div>
                            <div class="form-group">
                                <label for="ContactMiddlename">Middle Name:</label>
                                <input type="text" class="form-control" id="ContactMiddlename" ng-model="PartyCtrl.party.contactmiddlename">
                            </div>
                            <div class="form-group">
                                <label for="contactPhoneNumber">Phone Number:</label>
                                <input type="text" class="form-control" id="contactPhoneNumber" ng-model="PartyCtrl.party.contactphonenumber">
                            </div>
                        </ng-form>
                    </uib-tab>
                </uib-tabset>

                <div class="form-group col-sm-offset-4">
                    <button type="button" class="btn btn-default" ng-click="PartyCtrl.goBack()"><i class="fa fa-arrow-left"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="PartyCtrl.saveParty()">{{PartyCtrl.party.party_id ? 'Update' : 'Submit'}}</button>
                    <img ng-if="patDetCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="PartyCtrl.ok()">OK</button>-->
        <button class="btn btn-warning" type="button" ng-click="PartyCtrl.cancel()">Close window</button>
    </div>
</div>