<div class="modal-header">
    <h3 class="modal-title"><div class="pull-right"><a>+ Add new</a></div>Party!</h3>
    <div class="modal-body">
        <table class="table table-responsive" ng-if="!PartyCtrl.edit">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="party in PartyCtrl.parties.data">
                    <td>{{party.name}}</td>
                    <td>{{party.addressline1}} {{party.addressline2}} {{party.addresscity}} </td>
                    <td>
                        <button  type="button" class="btn btn-primary" ng-click="PartyCtrl.editParty()"><i class="fa fa-pencil"></i> Edit</button>
                        <button  type="button" class="btn btn-danger" ng-click="PartyCtrl.deleteParty()"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table" ng-if="PartyCtrl.edit">
            <thead>
            <tr>
                <th>drill</th>
                <th>down</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="PartyCtrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="PartyCtrl.cancel()">Cancel</button>
    </div>
</div>