<style>
    .tab-content{
        background: #FFF;
        padding:10px;
    }
    .nav-tabs > li.active > a {
        background: #FFF;
    }
</style>
<div class="clearfix">
    <div class="pull-right"><button type="button" class="btn btn-default" ng-click="UsrCtrl.editUser()">+ Add new</button></div>
</div>
<div class="row alert" ng-class="{'alert-success': (UsrCtrl.result=='Success'), 'alert-danger': (UsrCtrl.result=='Failure')}" ng-if="UsrCtrl.result">{{UsrCtrl.message}}</div>
<div class="full" ng-if="!UsrCtrl.edit">
    <div class="panel-body">
        <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                on-page-change="UsrCtrl.getData(newPageNumber)" >
        </dir-pagination-controls>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Party</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="UsrCtrl.users.data <= 0"><td colspan="6" style="text-align:center;">Loading new data!!</td></tr>
            <tr dir-paginate="user in UsrCtrl.users.data|itemsPerPage:UsrCtrl.itemsPerPage" total-items="UsrCtrl.total_count">
                <td>{{user.firstname}} {{user.middlename}} {{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
                <td class="text-center">
                    <div class="row">
                        <button  type="button" class="btn btn-primary" ng-click="UsrCtrl.editUser(user.user_id)"><i class="fa fa-pencil"></i> Edit</button>
                        <button  type="button" class="btn btn-danger" ng-click="UsrCtrl.deleteUser()"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
        <div class="drillDown" ng-if="UsrCtrl.edit">
            <form name="PartyDetail" class="tab-form" role="form">
                <uib-tabset active="UsrCtrl.activeUsrTab">
                    <uib-tab index="0" heading="General">
                        <ng-form name="GeneralTab">
                            <div class="form-group">
                                <label for="firstName">First Name:</label>
                                <input type="text" class="form-control" id="firstName" ng-model="UsrCtrl.user.firstname" required="required">
                            </div>
                            <div class="form-group">
                                <label for="middleName">Middle Name:</label>
                                <input type="text" class="form-control" id="middleName" ng-model="UsrCtrl.user.middlename">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name:</label>
                                <input type="text" class="form-control" id="lastName" ng-model="UsrCtrl.user.lastname" required="required">
                            </div>
                            <div class="form-group">
                                <label for="workPhoneNumber">Work Phone Number:</label>
                                <input type="text" class="form-control" id="workPhoneNumber" ng-model="UsrCtrl.user.workphonenumber">
                            </div>
                            <div class="form-group">
                                <label for="contactPhoneNumber">Contact Phone Number:</label>
                                <input type="text" class="form-control" id="contactPhoneNumber" ng-model="UsrCtrl.user.contactphonenumber">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="text" class="form-control" id="email" ng-model="UsrCtrl.user.email">
                            </div>
                            <div class="form-group">
                                <label for="party">Select party user belongs:</label>
                                <select id="party" required="required"
                                        class="form-control"
                                        ng-options="party.party_id as party.name for party in UsrCtrl.parties"
                                        ng-model="UsrCtrl.user.user_party_id">
                                    <option value="">--Select Party --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" ng-model="UsrCtrl.user.password" readonly="readonly">
                                <span class="fa fa-refresh" style="cursor:pointer;" ng-click="UsrCtrl.newPwd()"> generate new password &nbsp;&nbsp;&nbsp;<span class="text-danger"> {{UsrCtrl.newPwdVal}}</span></span>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox-inline"><input type="checkbox" id="enabled" ng-model="UsrCtrl.user.enabled" ng-true-value="'1'" ng-false-value="'0'" > Account Enabled:</label>
                                <label class="checkbox-inline"><input type="checkbox" id="accountlocked" ng-model="UsrCtrl.user.accountlocked" ng-true-value="'1'" ng-false-value="'0'" > Lock/Unlock:</label>
                            </div>
                        </ng-form>
                    </uib-tab>
                    <uib-tab index="1" heading="User Roles">
                        <ng-form name="PagesTab">
                            <div class="form-group" ng-repeat="userRole in UsrCtrl.userRoles">
                                <label><input type="checkbox" ng-model="userRole.ius_yn" ng-true-value="'true'" ng-false-value="'false'" value="{{userRole.authroles_id}}"> {{userRole.name}}</label> <small>({{userRole.description}})</small>
                            </div>
                        </ng-form>
                    </uib-tab>
                </uib-tabset>

                <div class="form-group col-sm-offset-4">
                    <button type="button" class="btn btn-default" ng-click="UsrCtrl.goBack()"><i class="fa fa-arrow-left"></i> Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="UsrCtrl.saveUser()">{{UsrCtrl.user.user_id ? 'Update' : 'Submit'}}</button>
                    <img ng-if="UsrCtrl.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
                <hr/>

            </form>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="UsrCtrl.ok()">OK</button>-->
        <button class="btn btn-warning" type="button" ng-click="UsrCtrl.cancel()">Close window</button>
    </div>
</div>