<div class="modal-header">
    <h3 class="modal-title"><div class="pull-right"><a>+ Add new</a></div>User!</h3>
    <div class="modal-body">
        <div class="row alert" ng-class="{'alert-success': (UsrCtrl.result=='Success'), 'alert-danger': (UsrCtrl.result=='Failure')}" ng-if="UsrCtrl.result">{{UsrCtrl.message}}</div>
        <div class="full" ng-if="!UsrCtrl.edit">
            <dir-pagination-controls
                    max-size="8"
                    direction-links="true"
                    boundary-links="true"
                    on-page-change="UsrCtrl.getData(newPageNumber)" >
            </dir-pagination-controls>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Party</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="UsrCtrl.users.data <= 0"><td colspan="6" style="text-align:center;">Loading new data!!</td></tr>
                <tr dir-paginate="user in UsrCtrl.users.data|itemsPerPage:UsrCtrl.itemsPerPage" total-items="UsrCtrl.total_count">
                    <td>{{user.firstname}} {{user.middlename}} {{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.user_party_id}}</td>
                    <td class="text-center">
                        <div class="row">
                            <button  type="button" class="btn btn-primary" ng-click="UsrCtrl.editUser(user.user_id)"><i class="fa fa-pencil"></i> Edit</button>
                            <button  type="button" class="btn btn-danger" ng-click="UsrCtrl.deleteUser()"><i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="PartyCtrl.ok()">OK</button>-->
        <button class="btn btn-warning" type="button" ng-click="UsrCtrl.cancel()">Close window</button>
    </div>
</div>