<div class="row">
    <div class="card col-lg-4" ng-click="setupCtrl.open({'modalSize':'lg', 'url':'party'})">
            <h4 class="card-title"><i class="fa fa-3x fa-home pull-left" ></i> Party</h4>
            <p class="card-text">Use this to enter generic users</p>
    </div>
    <div class="card col-lg-4" ng-click="setupCtrl.open({'modalSize':'lg', 'url':'user'})">
        <h4 class="card-title"><i class="fa fa-3x fa-users pull-left" ></i> Users</h4>
        <p class="card-text">Use this to Add or remove users</p>
    </div>
    <div class="card col-lg-4">
        <a href="#">
            <h4 class="card-title"><i class="fa fa-3x fa-users pull-left" ></i>Users</h4>
            <p class="card-text">Use this to Add or remove users</p>
        </a>
    </div>
</div>