<div class="panel">
    <div class="panel-body">
        <div class="row" data-ng-if="!lgstEdt.allowEdit">
            <div class="col-sm-12">
                <div class="form-group text-center" data-ng-if="lgstEdt.quote.po_is_approved != 0">
                    <button type="button" class="btn btn-primary" data-ng-if="lgstEdt.permitEdit()" data-ng-click="lgstEdt.allowEdit = !lgstEdt.allowEdit"><i class="fa fa-pencil"></i> Edit</button>
                </div>
                <div class="form-group text-center text-success" data-ng-if="lgstEdt.quote.po_is_approved == 0">
                    Pending PO approval
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="po_no">Purchase Order Number <span ng-show="!lgstEdt.quote.po_no" class="text-danger">*</span></label>
                    <input type="text" id="po_no" placeholder="Enter PO number" class="form-control" required="required"
                           data-ng-model="lgstEdt.quote.po_no" data-ng-blur="lgstEdt.newPoNo()" data-ng-disabled="!lgstEdt.allowEdit"/>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="PartyId">Client <span data-ng-show="!lgstEdt.quote.party_party_id" class="text-danger">*</span></label>
                        <select id="PartyId" class="form-control"
                                data-ng-click="lgstEdt.getLOVs('Party','parties', {'response':'party_id&name', 'and':[{
                                                                                            'propertyName': 'party_partytype_id',
                                                                                            'propertyValue': 201607131,
                                                                                            'propertyDataType': 'BIGINT',
                                                                                            'operatorType': '='
                                                                                        }]})"
                                data-ng-options="party.party_id as party.name for party in lgstEdt.container['parties']"
                                data-ng-model="lgstEdt.quote.party_party_id"
                                data-ng-disabled="lgstEdt.disableClient">
                            <option value="">{{lgstEdt.quote.party_party_id || "--Select Company name --"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eventOwner">Name of Event Owner</label>
                        <input type="text" id="eventOwner" data-ng-model="lgstEdt.quote.eventowner" placeholder="--Select Name of Event Owner --" class="form-control" data-ng-disabled="true" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="publishDate">Publish Date <span ng-show="!lgstEdt.quote.publishdate" class="text-danger">*</span></label>
                        <p class="input-group">
                            <input type="text" id="publishDate" class="form-control"
                                   datepicker-popup="mediumDate" ng-model="lgstEdt.quote.publishdate" is-open="lgstEdt.publishdate"
                                   ng-focus="lgstEdt.publishdate=true" placeholder="Publish Date (MMM dd, YYYY) e.g Aug 08, 2016"
                                   ng-required="true" close-text="&times;" data-ng-disabled="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" data-ng-click="lgstEdt.publishdate = !lgstEdt.publishdate"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="dueDate">Due Date <span ng-show="!lgstEdt.quote.duedate" class="text-danger">*</span></label>
                        <p class="input-group">
                            <input type="text" id="dueDate" class="form-control" ng-model="lgstEdt.quote.duedate"
                                   datepicker-popup="mediumDate" is-open="lgstEdt.dueDate" datepicker-options="{minDate: lgstEdt.quote.publishdate}"
                                   data-ng-focus="lgstEdt.dueDate=true" placeholder="Due Date (MMM dd, YYYY) e.g Aug 08, 2016"
                                   ng-required="true" close-text="&times;" data-ng-disabled="true" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="lgstEdt.dueDate = !lgstEdt.dueDate"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="currency">Currency  <span ng-show="!lgstEdt.quote.quote_currency_id" class="text-danger">*</span></label>
                        <select id="currency" required
                                class="form-control"
                                data-ng-click="lgstEdt.getLOVs('Currency','currencies', {'response':'currency_Id&code'})"
                                data-ng-options="currencies.currency_Id as currencies.code for currencies in lgstEdt.container['currencies']"
                                data-ng-model="lgstEdt.quote.quote_currency_id" data-ng-disabled="true">
                            <option value="">{{lgstEdt.quote.quote_currency_id || "--Select Currency --"}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="userId">Assign to <span data-ng-show="!lgstEdt.quote.users_user_id" class="text-danger">*</span></label>
                        <select id="userId"
                                class="form-control"
                                data-ng-click="lgstEdt.getUsers(20161307)"
                                data-ng-options="user.user_id as user.name for user in lgstEdt.container['users']"
                                data-ng-model="lgstEdt.quote.users_user_id" data-ng-disabled="true">
                            <option value="">{{lgstEdt.quote.users_user_id || "--Select the in-house person to assign to--"}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-sm-offset-1" style="overflow-x: auto;">
                    <fieldset style="margin-top:25px;">
                        <legend>
                            <div class="col-sm-3">
                                <span>Split PO number across selected line items</span>
                                <label class="switch switch-sm pull-right">
                                    <input type="checkbox" data-ng-click="lgstEdt.splitpo_no()" data-ng-model="lgstEdt.split_po">
                                    <span><i class="handle"></i></span>
                                </label>
                            </div>
                        </legend>
                        <br>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <td><input type="checkbox" ng-change="lgstEdt.updateQuotes()" ng-model="lgstEdt.allQuotes"/></td>
                                <th>S/N</th><th>Part No./Model</th>
                                <th data-ng-if="lgstEdt.splits > 0">New PO numbers</th>
                                <th>Material Description</th><th>OEM Description</th><th>Qty</th><th>Manufacturers</th>
                                <th>UOM</th>
                                <th>Unit Price</th>
                                <th>Extended Price</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="lgstEdt.lineItems.length <= 0"><td colspan="{{lgstEdt.quote.quote_id?9:7}}" style="text-align:center;">{{ lgstEdt.lineItemsLoading || 'Loading new data!!' }}</td></tr>
                                <tr ng-repeat="lineItem in lgstEdt.lineItems track by $index">
                                    <td><input type="checkbox" ng-model="lineItem.checked"/></td>
                                    <td>{{$index+1}}</td>
                                    <td>{{lineItem.partno_modelno}}</td> <!-- UOM -->
                                    <td data-ng-if="lgstEdt.splits > 0">
                                        <a href="#" editable-text="lineItem.po_no" e-placeholder="Enter a new PO no" onbeforesave="lgstEdt.checkName2(lineItem.po_no,$data)">
                                            {{ lineItem.po_no || 'Change No.' }}
                                        </a>
                                    </td> <!-- UOM -->
                                    <td>{{lineItem.matDesc}}</td>
                                    <td>{{lineItem.oem_description}}</td>
                                    <td>{{lineItem.qty}}</td>
                                    <td>{{(lineItem.manus.length >1) ? 'Many' : lineItem.manus[0].name }}</td>
                                    <td>{{lineItem.unitofmeasure.name}}</td> <!-- UOM -->
                                    <td><span data-iz-number="lineItem.unitprice" data-iz-options="{dp:2}"></span></td> <!-- Unit Price -->
                                    <td><span data-iz-number="lineItem.unitprice*lineItem.qty" data-iz-options="{dp:2}"></span></td> <!-- Extended Price -->
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        Please include relevant charges for PO(s)
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>PO Number</th>
                                    <th>Currency</th>
                                    <th>Wire Transfer Fee</th>
                                    <th>Cost of Certs</th>
                                    <th>Ground Freight</th>
                                    <th>Int. Freight</th>
                                    <th>Packaging Cost</th>
                                    <th>Harzardous Cost</th>
                                    <th>Other Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="lgstEdt.lstOfcharges.length <= 0"><td colspan="11" style="text-align:center;font-size:large; font-weight:bold;">{{lgstEdt.chargesLoading || 'Loading new data!!' }}</td></tr>
                                <tr ng-repeat="charge in lgstEdt.lstOfcharges">
                                    <td>
                                        <i class="fa fa-pencil inline cursor-pointer text-primary" data-ng-click="lgstEdt.editCharge($index,charge)"></i>
                                        <i class="fa fa-trash inline cursor-pointer text-danger" data-ng-click="lgstEdt.deleteCharge($index,charge)"></i>
                                    </td>
                                    <td>{{ charge.po_no }}</td>
                                    <td>{{ charge.currency.code }} </td>
                                    <td class="text-right">{{ charge.wire_transfer_fee}}</td>
                                    <td class="text-right">{{ charge.cost_of_certs}}</td>
                                    <td class="text-right">{{ charge.ground_freight}}</td>
                                    <td class="text-right">{{ charge.int_freight}}</td>
                                    <td class="text-right">{{ charge.packaging_cost}}</td>
                                    <td class="text-right">{{ charge.harzardous_cost}}</td>
                                    <td class="text-right">{{ charge.other_cost}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="form-actions text-center" data-ng-if="lgstEdt.allowEdit">
                <button class="btn btn-default" style="width:10%;" data-ng-click="$state.go(lgstEdt.lgstcView)"><i class="fa fa-arrow-left"></i> Cancel</button>
                <button ng-click="lgstEdt.postData()"  data-ng-disabled="form.$invalid || lgstEdt.dataLoading || lgstEdt.isDisabled" style="width:10%;" class="btn btn-primary">Create PO</button>
                <i ng-if="lgstEdt.dataLoading" class="fa fa-spinner fa-spin fa-2x"></i>
            </div>
    </div>
</div>
<div class="overlay" data-ng-if="lgstEdt.showOverlay">
    <div class="centered text-center">Deleting<div class="loader"></div> </div>
</div>