<div class="global-content container-fluid">
    <div class="row global-header">
        <div class="pull-right">
            <input type="text" placeholder="Search..." />&nbsp;&nbsp;&nbsp;{{$root.globals.currentUser.userDetails.authDetails.firstname}}
        </div>
    </div>
    <div class="row global-container">
        <div class="col-sm-3 global-sidenav">
            <div class="nav-list-group">
                <ul class="main-menu">
                    <li ng-repeat="menu in homeCtrl.pages" ng-include="'menuTree'"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 global-main-content">
            <div ui-view="app_pages"></div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="menuTree">
    <a ui-sref="{{ menu.viewpath }}" class="side-bar-nav" ui-sref-active="navActive">
        <i class="fa fa-2x {{menu.css_class}}"></i>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ menu.name }}
    </a>
    <ul ng-if="menu.child">
        <li ng-repeat="menu in menu.child" ng-include="'menuTree'">
        </li>
    </ul>
</script>