<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav" style="padding:0; margin:0;">
            <a ui-sref="login">Logout</a>
            <div class="list-group">
                <a ng-repeat="page in homeCtrl.pages" class="list-group-item side-bar-nav"
                   ui-sref="{{page.viewpath}}" ui-sref-active="listActive">{{page.name}}</a>
            </div>
            <!--ul class="list-group">
                <li class="list-group-item" ng-repeat="page in homeCtrl.pages">
                    <a ui-sref="patient">{{page.code}}</a>
                </li>
            </ul-->
        </div>
    </div>
</div>