<div class="panel panel-default">
    <div class="panel-heading">
        <a ng-click="profCtrl.update()" class="btn btn-primary pull-right">Submit</a>
        <h2 style="height:60px; line-height:60px;">
            <span style="vertical-align:middle;">{{ profCtrl.profile.firstname || 'No name' }}</span>
            <small><span style="vertical-align:middle;">&mdash; Profile</span></small>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">First Name:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-text="profCtrl.profile.firstname" e-placeholder="Enter your first name">
                    {{ profCtrl.profile.firstname || 'Click to enter your first name' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Middle Name:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-text="profCtrl.profile.middlename" e-placeholder="Enter your middle name">
                    {{ profCtrl.profile.middlename || 'Click to enter your middle name' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Last Name:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-text="profCtrl.profile.lastname" e-placeholder="Enter your last name">
                    {{ profCtrl.profile.lastname || 'Click to enter your last name' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Username:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-text="profCtrl.profile.username" e-placeholder="Enter your user name">
                    {{ profCtrl.profile.username || 'Click to enter user name' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Email:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-email="profCtrl.profile.email" e-placeholder="E.g: name@company.com">
                    {{ profCtrl.profile.email || 'Click to enter your email' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Contact Phone Number:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-tel="profCtrl.profile.contactphonenumber" e-pattern="\d{11}" e-title="xxxxxxxxxxx" e-placeholder="E.g: 07066477223">
                    {{ profCtrl.profile.contactphonenumber || 'Click to enter contact phone number' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Work Phone Number:</div>
            <div class="col-sm-9 text-left">
                <a href="#" editable-tel="profCtrl.profile.workphonenumber" e-pattern="\d{11}" e-title="xxxxxxxxxxx" e-placeholder="E.g: 07066477223">
                    {{ profCtrl.profile.workphonenumber || 'Click to enter work phone number' }}
                </a>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Password:<br><small>To change your password, enter you old password, then your preferred password twice</small></div>
            <div class="col-sm-9 text-left">
                <div class="row">
                    <div class="form-group">
                        <label for="oldPwd">Old Password</label>
                        <input type="text" id="oldPwd" data-ng-model="profCtrl.oldPwd" placeholder="-- Enter old password --" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="newPwd">Preferred Password!</label>
                        <input type="text" id="newPwd" data-ng-model="profCtrl.newPwd" placeholder="-- Enter preferred password --" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="newPwdAgain">Preferred Password Again!</label>
                        <input type="text" id="newPwdAgain" data-ng-model="profCtrl.newPwdAgain" placeholder="-- Enter preferred password again --" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-sm-3 text-right">Upload Photo:</div>
            <div class="col-sm-9 text-left">
                <input type="file" file-model="profCtrl.profile.pix" accept="image/*" />
            </div>
        </div>
    </div>
</div>
<div class="overlay" data-ng-if="profCtrl.showLoading">
    <div class="centered loader"></div>
</div>